
<div class="container flex-grow-1  d-flex justify-content-center  align-items-center ">
    <div class="card shadow-lg border-0 rounded-lg bg-light p-4 rounded  col-lg-5">
        <div class=" d-flex justify-content-center ">
            <h2 class="fw-bold">Change password</h2>
        </div>
        
        {{#if error_msg}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        
        {{#if success_msg}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        
        <form action="/auth/change-password" id="change-password-form" method="POST">
            <div class="form-floating mb-3">
                <input type="password" name="oldPassword" id="oldPasswordInput" class="form-control">
                <label for="oldPasswordInput">Old password </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="newPassword" id="newPasswordInput" class="form-control">
                <label for="oldPasswordInput">New password </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="newPasswordConfirm" id="newPasswordConfirmInput" class="form-control">
                <label for="newPasswordConfirmInput">New password confirm </label>
            </div>
            <div class="mb-3">
                 <button type="submit" class="btn btn-primary w-100">Change</button>
            </div>
             <div id="password-error" class="text-center" style="display: none; color:crimson" role="alert"></div>

        </form>
    </div>
</div>

